* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/background_image.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.title-text {
    font-weight: 700;
    font-size: 60px;
    font-family: 'Arimo', sans-serif;
}

.textbox {
    background: #fff;
    border-radius: 10px;
    opacity: 80%;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    opacity: 90%;
}

.app h1 {
    color: #001e4d;
    border-bottom: 3px solid #333;
    padding-bottom: 20px;
    font-weight: 600;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.quiz button {
    font-weight: 500;
    text-align: left;
}

#next-btn {
    font-weight: 500;
    display: none;
}

.question-image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.question-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

